@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
}


/* MapLibre Popup */

.maplibregl-popup-content {
  padding: 0 !important;
  border-radius: 12px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
}

.maplibregl-popup-close-button {
  font-size: 24px !important;
  line-height: 0px !important;
  padding: 12px !important;
  padding-top: 6px !important;
  height: 30px !important;
  width: 30px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 100% !important;
  background-color: var(--color-red-600) !important;
  transform: translateY(-100%);
  color: #fff !important;
  right: 4px !important;
  top: -4px !important;
}

.maplibregl-popup-close-button:hover {
  border-radius: 100% !important;
  background-color: var(--color-red-700) !important;
  color: #fff !important;
}

/* general */

button {
  cursor: pointer;
}